<div class="body">
<div class="main">
      <div class="header">
        <nav>
          <div class="logo">
            <a href=""><button class="btn btn-primary">Tasty</button></a>
          </div>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/menu">Menu</a></li>
            <li><a href="">Specialties</a></li>
            <li><a href="">Reservation</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">About</a></li>
            <li><a routerLink="/adminlogin">Admin</a></li>
          </ul>
        </nav>
        <div class="content">
          <h1>Taste & Delicious Food</h1>
          <br/>
          <button>Book My Table</button>
        </div>
      </div>
    </div>
  <router-outlet></router-outlet>
</div>
