<nav class="navbar navbar-dark navbar-expand-sm" style="background-color: black;">
    <div class="logo">
      <a href=""><button class="btn btn-outline-info" style="color: cornsilk;">Tasty</button></a>
    </div>
    <ul  > 
      <li class="h"><a routerLink="/home" >Home</a></li>
      <li  class="h"><a class="active1" routerLink="/menu" routerLinkActive="active">Menu</a></li>
      <li  class="h"><a href="">Specialties</a></li>
      <li  class="h"><a href="">Reservation</a></li>
      <li  class="h"><a href="">Blog</a></li>
      <li  class="h"><a href="">About</a></li>
      <li  class="h"><a href="">Contact</a></li>
    </ul>
  </nav>
